@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* a {
  text-decoration: none;
}

body {
  background-image: url(/images/food-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.container {
  background: rgb(146, 145, 145);
  max-width: 90rem;
  min-height: 70vh;
  margin: 4vw auto;
  border-radius: 15px;
  box-shadow: 0 0 50px rgba(104, 67, 0, 0.45);
  display: flex;
  flex-direction: column;
}
@media (max-width: 1000px) {
  .container {
    margin: auto;
    min-height: 100vh;
    border-radius: unset;
  }
}
.container header {
  display: grid;
  grid-template-areas: "logo right right";
  padding: 40px;
  background-color: rgba(190, 190, 145, 0.5);
  border-radius: 15px;
}
@media (max-width: 700px) {
  .container header {
    display: flex;
    flex-direction: column;
    border-radius: unset;
  }
}
.container header .logo {
  grid-area: logo;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 150px;
  transition: all 0.3s;
}
.container header .logo:hover {
  transform: translateY(-2px);
  scale: 1.04;
}
@media (max-width: 700px) {
  .container header .logo {
    margin: 0 auto;
  }
}
@media (max-width: 1000px) {
  .container header .logo {
    margin: 0 auto;
  }
}
.container header .logo img {
  height: 100px;
}
.container header .logo a {
  text-decoration: none;
  font-family: "Dancing Script", cursive;
  color: #fff;
  font-size: large;
  font-weight: bold;
}
.container header .right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  grid-area: right;
  margin-right: 150px;
}
@media (max-width: 700px) {
  .container header .right {
    margin: 0 auto;
  }
}
@media (max-width: 550px) {
  .container header .right {
    gap: 5px;
  }
}
@media (max-width: 1000px) {
  .container header .right {
    margin: 0 auto;
  }
}
.container header .right .search_form form {
  background-color: #fff;
  display: flex;
  border-radius: 40px;
  transition: 0.3s all;
}
.container header .right .search_form form:focus-within {
  transform: translateY(-3px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}
.container header .right .search_form form input {
  border: none;
  outline: none;
  width: 270px;
  text-indent: 8px;
  border-radius: 40px;
  font-family: "Dancing Script", cursive;
  font-size: 18px;
}
.container header .right .search_form form input::-moz-placeholder {
  color: #9d7101;
}
.container header .right .search_form form input::placeholder {
  color: #9d7101;
}
@media (max-width: 550px) {
  .container header .right .search_form form input {
    width: 150px;
  }
}
@media (max-width: 380px) {
  .container header .right .search_form form input {
    width: 75px;
  }
}
.container header .right .search_form form button {
  background-color: #fab604;
  padding: 10px 30px;
  border-radius: 40px;
  font-size: 17px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
  font-family: "Dancing Script", cursive;
  font-size: 22px;
  color: white;
  cursor: pointer;
  transition: 0.3s all;
}
.container header .right .search_form form button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.27);
}
@media (max-width: 380px) {
  .container header .right .search_form form button {
    padding: 5px 15px;
  }
}
.container header .right .likes {
  font-size: 25px;
  background: rgba(244, 199, 75, 0.7803921569);
  padding: 7px;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
  color: #fff;
}
.container header .right .likes:hover > .list {
  visibility: visible;
  opacity: 1;
}
.container header .right .likes .list {
  position: absolute;
  top: 50px;
  right: -170px;
  margin-right: 150px;
  background-image: linear-gradient(90deg, rgba(239, 159, 73, 0.5607843137) 0%, #c27100 100%);
  opacity: 0;
  visibility: hidden;
  padding: 10px;
  transition: all 0.5s;
  z-index: 999999;
  border-radius: 20px;
  cursor: pointer;
}
@media (max-width: 900px) {
  .container header .right .likes .list {
    width: 150px;
    right: -250px;
  }
}
@media (max-width: 700px) {
  .container header .right .likes .list {
    right: -170px;
  }
}
.container header .right .likes .list a {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid black;
  padding: 6px;
}
.container header .right .likes .list a img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
@media (max-width: 900px) {
  .container header .right .likes .list a img {
    width: 35px;
    height: 35px;
  }
}
.container header .right .likes .list a p {
  font-size: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: white;
}

main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  flex-grow: 1;
}
@media (max-width: 1000px) {
  main {
    grid-template-columns: 1fr;
  }
}
main .results {
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: start;
}
main .results .result-link {
  display: flex;
  align-items: center;
  gap: 10px;
  background: rgba(243, 180, 44, 0.8196078431);
  padding: 5px 10px;
  border-radius: 15px;
  width: 100%;
}
@media (max-width: 1000px) {
  main .results .result-link {
    width: 100%;
  }
}
@media (max-width: 550px) {
  main .results .result-link {
    width: 350px;
  }
}
main .results .result-link:hover {
  background-color: #fab604;
  cursor: pointer;
  transform: translateY(-2px);
  transition: 0.4s all;
}
main .results .result-link img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
@media (max-width: 550px) {
  main .results .result-link img {
    width: 30px;
    height: 30px;
  }
}
main .results .result-link .data {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
@media (max-width: 550px) {
  main .results .result-link .data {
    font-size: 13px;
  }
}
main .results .result-link .data h4 {
  font-family: "Dancing Script", cursive;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px;
  transition: 0.4s;
}
main .results .result-link .data h4:hover {
  color: rgb(85, 45, 0);
}
main .results .result-link .data p {
  font-family: "Dancing Script", cursive;
  color: white;
}/*# sourceMappingURL=style.css.map */